body {
	margin: 0;
}

.restaurant {
	display: block;
	width: calc(100% - 2 * 10px);
	padding: 10px;
	border-bottom: 1px solid #595959;
	background: white;
}

.name {
	display: inline-block;
	width: 75%;
	text-align: left;
}

.distance {
	display: inline-block;
	width: 25%;
	text-align: center;
}

.navButton {
	display: inline-block;
	height: 50px;
	width: calc(100% / 3);
	text-align: center;
}

.navButton > img {
	height: 40px;
	margin: 5px;
	vertical-align: top;
}

#header {
	display: block;
	height: 50px;
	background: #595959;
	position: fixed;
	top: 0;
	width: 100%;
}

#searchField {
	height: 47px;
	width: calc(100% - (2 * 10px + 2 * 5px + 40px));
	padding: 1px 10px;
	border: none;
	font-size: 1.5em;
}

#searchButton {
	height: 40px;
	vertical-align: top;
	margin: 5px;
}

#restaurantList {
	display: block;
	margin-top: 50px;
	width: 100%;
	height: calc(100vh - 50px - 50px);
	overflow: hidden auto;
	background: lightgray;
}

#navigation {
	background: #595959;
}
